.footer {
  background-color: black;
  color: white;
  padding: 100px 0;
  width: 100%;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  gap: 30px;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 50%;
}
.location-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.location-links div {
  display: flex;

  gap: 10px;
}
.location-links div p {
  font-size: 14px;
  cursor: pointer;
}
.right-part {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 50%;
}
.footer-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}
.footer-logo img {
  width: 100%;
}

.location-icon {
  font-size: 50px;
  color: rgba(241, 81, 7, 0.915);
}
.icon {
  margin-right: 8px;
  font-size: 20px;
  color: rgba(241, 81, 7, 0.915);
}
.vertical-separator {
  width: 1px;
  background: linear-gradient(to bottom, #e53935, #ff9800);
  display: inline-block;
}

.footer-right {
  display: flex;
  flex-direction: column;

  gap: 100px;
}
.footer-right p {
  font-size: 12px;
}
.footer-middle,
.footer-right h3 {
  font-size: 16px;
}
.footer-middle ul {
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 14px;
}

.footer-middle ul li {
  margin: 8px 0;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
  color: rgba(241, 81, 7, 0.915);
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icon:hover {
  color: #ff6600;
}

@media screen and (min-width: 300px) and (max-width: 420px) {
  .footer-container {
    display: block;
    width: 90%;
  }
  .footer-left {
    width: 80%;
  }
  .vertical-separator {
    width: 95%;
    background: linear-gradient(to bottom, #e53935, #ff9800);
    display: inline-block;
    height: 1px;
    margin: 30px auto;
  }
  .right-part {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
  }
  .footer-middle h3 {
    text-align: left;
    font-size: 13px;
  }
  .footer-logo img {
    width: 100px;
  }
}

@media screen and (min-width: 421px) and (max-width: 1024px) {
  .footer-container {
    width: 90%;
    margin: auto;
  }
  .vertical-separator {
    width: 1px;
    background: linear-gradient(to bottom, #e53935, #ff9800);
    display: inline-block;
  }
  .footer-middle h3 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .right-part {
    gap: 10px;
  }
}
