.form-section {
  width: 100%;

  padding: 50px;
  background-image: url("../../assets/sunrise.jpg");
  opacity: 0.8;

  background-size: cover;
  background-position: center;
  color: white;
}

.content-wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 40%;
  font-size: 20px;
  line-height: 1.5;
}

.form-container {
  width: 40%;

  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;

  font-size: 16px;
  outline: none;
}

.submit-button {
  border: none;
  background-image: linear-gradient(to right, #e53935, #ff9800);
  color: white;
  font-size: 18px;
  width: 50%;
  margin: auto;
  padding: 8px 10px;
  cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 421px) {
  .form-section {
    width: 100%;
    margin: auto;
  }
  .content-wrapper {
    display: block;
    width: 100%;
  }
  .content,
  .form-container {
    width: 100%;
    padding: 20px 0px;
  }
  .submit-button {
    width: 50%;
    margin: auto;
    cursor: pointer;
  }
}
@media screen and (min-width: 421px) and (max-width: 1024px) {
  .form-section {
    flex-direction: column;
    text-align: center;
  }

  .content,
  .form-container {
    width: 70%;
    margin: auto;
  }
  .content-wrapper {
    display: block;
    width: 100%;
  }
  .submit-button {
    width: 30%;
    margin: auto;
    cursor: pointer;
  }
}
