/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Section Styling */
.form-section {
    width: 100%;
    min-height: 100vh;

    padding: 50px;
    background-image: url("../../assets/sunrise.jpg");
    opacity: .8;
    /* Change this to your image path */
    background-size: cover;
    background-position: center;
    color: white;
}

.content-wrapper {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Left Content */
.content {
    width: 40%;
    font-size: 20px;
    line-height: 1.5;
}

/* Right Form */
.form-container {
    width: 40%;


    padding: 20px;

}

/* Form Fields */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;

    font-size: 16px;
    outline: none;
}

/* Button */
button {
    padding: 10px;
    border: none;
    background: #ff5722;
    color: white;
    font-size: 18px;

    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .form-section {
        flex-direction: column;
        text-align: center;
    }

    .content,
    .form-container {
        width: 90%;
    }
}