.hero-section {
  background-color: #fff4e5;
  padding: 50px 10%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.hero-content {
  display: flex;
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-content {
  flex: 1;
  max-width: 55%;
}

.text-content h1 {
  font-size: 34px;
  background-image: linear-gradient(to right, #e53935, #ff9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-content .highlight {
  background-image: linear-gradient(to right, #e53935, #ff9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.text-content .bold-text {
  font-weight: bold;
}

.text-content .subheading {
  font-size: 18px;
  font-style: italic;
  background-image: linear-gradient(to right, #e53935, #ff9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-content .description {
  font-size: 14px;
  color: rgba(94, 94, 94, 0.922);
  margin-top: 50px;
  line-height: 1.6;
  font-weight: 400;
  text-align: justify;
}

.cta-button {
  background-image: linear-gradient(to right, #e53935, #ff9800);
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 76px;
}

.cta-button:hover {
  background-image: linear-gradient(to right, #ff9800, #e53935);
}

.image-content {
  flex: 1;
  max-width: 40%;
  display: flex;
  justify-content: center;
}

.image-content img {
  width: 100%;
  max-width: 350px;
}

@media (max-width: 1024px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .text-content {
    max-width: 100%;
  }
  .text-content h1 {
    font-size: 20px;
  }
  .cta-button {
    margin: 20px;
  }
  .image-content {
    max-width: 100%;
    margin-top: 20px;
  }

  .image-content img {
    max-width: 100%;
    margin-top: 20px;
  }
}
